.cabeza{
    background: url("imagenes/milky-way-2750627_1920.jpg");
    margin: 20px;
    border: 2px solid black;
    height: 160px;
}

.logo{
    width: 300px;
    height: 130px;
    background-image: url("imagenes/banner1.jpg");
    background-size: cover;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 15px;
}

h1{
    display: block;
    text-align: center;
    font-size: 70px;
    color: white;
}

#navegacion ul {
    list-style-type: none;
    text-align: right;
    color: white;
}

#navegacion li {
    display: inline;
    text-align: right;
    margin: 0 10px 0 0;
    color: white;
}

body{
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 17px;
    min-height: 270px;
    text-align: left;
}

#pantalla-dividida{
    display: flex;
}

.pant-div{
    position: relative;
    top: 30px;
}
.derecha{
    width: 70%;
}
.izquierda{
    width: 30%;
}


.pie{
    background: url("imagenes/milky-way-2750627_1920.jpg") repeat;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.Contenido{
    color: white;
    text-align: center;
    margin-top: 100px;
}

.Redes{
    display: flex;
    justify-content: space-between;
}

.fbicon{
    background-image: url("imagenes/facebook.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.appicon{
    background-image: url("imagenes/whatsapp.png");
}

.gmicon{
    background-image: url("imagenes/gmail.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}

.map{
    margin: auto;
   width: 400px;
   height: 400px;
}

.contenedor-imagen img{
    height: 60%;
    width: 180px;
    background-size: cover;
    display: block;
    margin: auto;
}

.contenedor-imagen p{
    color: white;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center, justify;
}

.novedades img{
    width: 25%;
    height: 200px;
    background-size: cover;
    padding-right: 30px;
    padding-left: 55px;
    padding-top: 60px;
}

.novedades{
    margin: auto;
	background-color: #000000;
	width: 500px;
}

.slr ul li{
    position: relative;
	left: 5%;
}

ul, li{
	margin: 0;
	padding: 0;
	list-style: none;
    padding-left: 20px;
}

ul.slider{
	position: relative;
	width: 300px;
	height: 200px;
}

ul.slider li{
    position: absolute;
	left: 5%;
	top: 0;
	opacity: 0;
	transition: opacity .5s;
}

ul.slider li img{
	width: 100%;
	height: 200px;
}

ul.slider li:first-child{
	opacity: 1;
}

ul.slider li:target{
	opacity: 1;
}

nav{
    text-align: left;
    margin: 20px;
    background-size: cover;
    padding-right: 30px;
    padding-left: 55px;
    padding-top: 60px;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a{
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: #9D2828;
	padding: 5px;
	width: 100%;
	height: 100%px;
	font-size: 20px;
	border-radius: 100%;
}

p{
    color: white;
    text-align: center;
    letter-spacing: normal;
    font-size: 25px;
}

.form-tabla{
    border-style: solid;
    border-color: #ffffff;
}

.form-tabla tr {
    color: #ffffff;
}

.lb1{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}
.lb2{
    color: #ffffff;
    text-align: center;
}
.form-lb1{
    text-align: center;
}

.form-txt{
    text-align: center;
    position: relative;
}
.form-btn{
    position: relative;
    bottom: 10px;
    left: 15px;
    border: 2px solid;
    border-radius: 12px;
    font-size: 20px;
    color: #ffffff;
    background: url("imagenes/milky-way-2750627_1920.jpg");
}

.btn9{
    border: 2px solid;
    border-radius: 12px;
    font-size: 20px;
    color: #ffffff;
    background: url("imagenes/milky-way-2750627_1920.jpg");
}

.form-registro{
    color: #ffffff;
}
